<div class="pallet-info">
  <div>
    <span>Pallet Scan</span>
    <div [ngStyle]="{ 'background-color': palletScanBackgroundColor, 'color': palletScanTextColor }" class="status">
      {{palletScan}}
    </div>
  </div>
  <div class="data-line">
    <div class="data-el">
      <span>Pallet Id</span>
      <div [ngStyle]="{ 'background-color': palletIdBackgroundColor, 'color': palletIdTextColor }" class="data-box">
        {{palletId}}
      </div>
    </div>
    <div class="data-el">
      <span>Pallet Status</span>
      <div [ngStyle]="{ 'background-color': palletStatusBackgroundColor, 'color': palletStatusTextColor }" class="data-box">
        {{palletStatus}}
      </div>
    </div>
    <div class="data-el">
      <span>Wrap Enable</span>
      <input [ngStyle]="{ 'background-color': wrapEnableBackgroundColor, 'color': wrapEnableTextColor }" 
      [(ngModel)]="wrapEnable" (focus)="onWrapEnabledFocus()" type="text" class="wrap-enable">
      <input style="display: none" id="keyboard-wrapenable" type="text">
    </div>

  </div>
  <div class="alarm">
    <span>Alarms</span>
    <div class="alarm-box">
      <app-grid [data]="alarmData" [columns]="columnDefs"></app-grid>
    </div>
  </div>
  <div class="system">
    <span>System</span>
    <div [ngStyle]="{ 'background-color': systemBackgroundColor, 'color': systemEnableTextColor }" class="status">
      {{system}}
    </div>
  </div>

  <div class="controls">
    <div class="circle-button"
      [ngStyle]="{ 'background-color': startButtonBackgroundColor, 'color': startButtonTextColor, 'border-color': startButtonBorderColor }">
      <div (click)="start()" class="button-area"></div>
      <span>{{startButton}}</span>
    </div>
    <div class="circle-button"
    [ngStyle]="{ 'background-color': stopButtonBackgroundColor, 'color': stopButtonTextColor, 'border-color': stopButtonBorderColor }">
      <div (click)="stop()" class="button-area"></div>
      <span>{{stopButton}}</span>
    </div>

  </div>

</div>
