:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}

.pallet-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.status {
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(200,200,200);
    font-size: 26px;
    height: 47px;
}

.data-line {
    margin-top: 15px;
    display: flex;
    
    .data-el {
        margin-right: 0px;
        flex: 3;
        display: inline-block;
        .data-box {
            margin: 0px 5px;
            border: 1px solid rgb(190,190,190);
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }

        .wrap-enable {
            height: 35px;
            text-align: center;
            font-size: 12px;
        }
    }
}

.alarm {
    margin-top: 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    .alarm-box {
        flex: 1 1 auto;
        display: flex;
        border: 1px solid rgb(200,200,200);
        height: 100%;
    }
}

.system {
    margin-top: 15px;
}

.controls {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-button {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid rgb(230,230,230);
    position: relative;
    .disable-overlay {
        background: rgba(255,255,255, 0.6);
        position: absolute;
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }
    .button-area {
        background: transparent;
        position: absolute;
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }

    cursor: pointer;
    span {
        font-size: 20px;
        max-width: 80px;
        text-align: center;
    }
  }

