<div class="navbar">
    <div class="buttons">
        <button pButton [ngClass]="{'ui-button-secondary': router.url !== '/home' }" label="Home" [routerLink]="'/home'"></button>
        <button pButton [ngClass]="{'ui-button-secondary': router.url !== '/case-history' }"  label="Case History" [routerLink]="'/case-history'"></button>
        <button pButton [ngClass]="{'ui-button-secondary': router.url !== '/alarm-history' }"  label="Alarm History" [routerLink]="'/alarm-history'"></button>
        <button pButton [ngClass]="{'ui-button-secondary': router.url !== '/io-monitor' }"  label="I/O Monitor" [routerLink]="'/io-monitor'"></button>
        <button pButton [ngClass]="{'ui-button-secondary': router.url !== '/user-setup' }"  label="User Setup" [routerLink]="'/user-setup'"></button>
    </div>
    
    <div class="right-align">
        <div class="login-info">
            <span>User Login</span>
            <input (focus)="onFocus()" placeholder="not logged in" [(ngModel)]="navService.loginId">
            <input type="text" style="display: none" id="keyboard">
        </div>
        <div class="date">
            {{date}}
        </div>
    </div>
</div>
