:host {
    width: 100%;
}

.navbar {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;

    .right-align {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }
    .login-info {
        margin-right: 15px;
        display: flex;
        align-items: center;
        input {
            font-size: 15px;
            height: 30px;
        }
    }
}

button {
    margin: 5px;
}