<div class="io-monitor">
  <div class="section">
    <span class="section-label">Inputs</span>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.wrapperReady }"></div>
      <span>Wrapper Ready</span>
    </div>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.turnTableRotating }"></div>
      <span>Turntable Rotating</span>
    </div>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.turnTableHomeProx }"></div>
      <span>Turntable Home prox</span>
    </div>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.eStopActive }"></div>
      <span>E-Stop Active</span>
    </div>

  </div>
  <div class="section">
    <span class="section-label">Outputs</span>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.rotateCommand }"></div>
      <span>Rotate Command</span>
    </div>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.disableWrapping }"></div>
      <span>Disable Wrapping</span>
    </div>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.wrapStart }"></div>
      <span>Wrap Start</span>
    </div>
    <div class="item">
      <div class="indicator" [ngStyle]="{'background-color': data?.redBeacon }"></div>
      <span>Red Beacon</span>
    </div>
    <div class="item">
        <div class="indicator" [ngStyle]="{'background-color': data?.greenBeacon }"></div>
        <span>Green Beacon</span>
      </div>

  </div>
</div>
